
footer {
    height: 60vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   
}

.container {
  width: 100%;
  

  &__contact {
    color: white;
    list-style-type: none;
    font-size: 20px;
    padding: 10px 0;
  }
}

.fa-brands {
  padding: 0 10px;
}
